FlowStaticResource/flows/Select_Make_and_Model-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>setMakeModeltoAstonModel</name>
        <label>setMakeModeltoAstonModel</label>
        <locationX>509</locationX>
        <locationY>592</locationY>
        <assignmentItems>
            <assignToReference>vaModel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_an_Aston_Martin_Model</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setMakeModeltoFerrariModel</name>
        <label>setMakeModeltoFerrariModel</label>
        <locationX>80</locationX>
        <locationY>593</locationY>
        <assignmentItems>
            <assignToReference>vaModel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_a_Ferrari_Model</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setMakeModeltoMake</name>
        <label>setMakeModeltoMake</label>
        <locationX>311</locationX>
        <locationY>138</locationY>
        <assignmentItems>
            <assignToReference>vaMake</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_a_Make</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Switch_Based_on_Make</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setMakeModeltoMaseratiModel</name>
        <label>setMakeModeltoMaseratiModel</label>
        <locationX>309</locationX>
        <locationY>498</locationY>
        <assignmentItems>
            <assignToReference>vaModel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_a_Maserati_Model</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Summary</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AstonMartin</name>
        <choiceText>Aston Martin</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>astonmartin</stringValue>
        </value>
    </choices>
    <choices>
        <name>Berlinetta</name>
        <choiceText>Berlinetta</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>berlinetta</stringValue>
        </value>
    </choices>
    <choices>
        <name>California</name>
        <choiceText>California</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>california</stringValue>
        </value>
    </choices>
    <choices>
        <name>DB9</name>
        <choiceText>DB9</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>db9</stringValue>
        </value>
    </choices>
    <choices>
        <name>DBS</name>
        <choiceText>DBS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>dbs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ferrari</name>
        <choiceText>Ferrari</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ferrari</stringValue>
        </value>
    </choices>
    <choices>
        <name>GranTurismo</name>
        <choiceText>Gran Turismo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>granturismo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Maserati</name>
        <choiceText>Maserati</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>maserati</stringValue>
        </value>
    </choices>
    <choices>
        <name>Quattroporte</name>
        <choiceText>Quattroporte</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>quattroporte</stringValue>
        </value>
    </choices>
    <choices>
        <name>Vanquish</name>
        <choiceText>Vanquish</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>vanquish</stringValue>
        </value>
    </choices>
    <choices>
        <name>X458_Italia</name>
        <choiceText>458 Italia</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>458</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Switch_Based_on_Make</name>
        <label>Switch Based on Make</label>
        <locationX>311</locationX>
        <locationY>269</locationY>
        <defaultConnector>
            <targetReference>Select_Aston_Martin_Model</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Aston Martin</defaultConnectorLabel>
        <rules>
            <name>FerrariBranch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ferrari</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Ferrari_Model</targetReference>
            </connector>
            <label>Ferrari</label>
        </rules>
        <rules>
            <name>MaseratiBranch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Maserati</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Maserati_Model</targetReference>
            </connector>
            <label>Maserati</label>
        </rules>
    </decisions>
    <label>Select Make and Model</label>
    <screens>
        <name>Select_Aston_Martin_Model</name>
        <label>Select Aston Martin Model</label>
        <locationX>506</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>setMakeModeltoAstonModel</targetReference>
        </connector>
        <fields>
            <name>Select_an_Aston_Martin_Model</name>
            <choiceReferences>DB9</choiceReferences>
            <choiceReferences>DBS</choiceReferences>
            <choiceReferences>Vanquish</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Model</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Select_Ferrari_Model</name>
        <label>Select Ferrari Model</label>
        <locationX>78</locationX>
        <locationY>396</locationY>
        <connector>
            <targetReference>setMakeModeltoFerrariModel</targetReference>
        </connector>
        <fields>
            <name>Select_a_Ferrari_Model</name>
            <choiceReferences>X458_Italia</choiceReferences>
            <choiceReferences>California</choiceReferences>
            <choiceReferences>Berlinetta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Model</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Select_Make</name>
        <label>Select Make</label>
        <locationX>312</locationX>
        <locationY>22</locationY>
        <connector>
            <targetReference>setMakeModeltoMake</targetReference>
        </connector>
        <fields>
            <name>Select_a_Make</name>
            <choiceReferences>Ferrari</choiceReferences>
            <choiceReferences>Maserati</choiceReferences>
            <choiceReferences>AstonMartin</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Make</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Select_Maserati_Model</name>
        <label>Select Maserati Model</label>
        <locationX>313</locationX>
        <locationY>399</locationY>
        <connector>
            <targetReference>setMakeModeltoMaseratiModel</targetReference>
        </connector>
        <fields>
            <name>Select_a_Maserati_Model</name>
            <choiceReferences>Quattroporte</choiceReferences>
            <choiceReferences>GranTurismo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Model</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Show_Summary</name>
        <label>Show Summary</label>
        <locationX>308</locationX>
        <locationY>593</locationY>
        <fields>
            <name>Summary</name>
            <fieldText>You have selected the following:
Make: {!Select_a_Make}
Model: {!Select_a_Ferrari_Model}{!Select_a_Maserati_Model}{!Select_an_Aston_Martin_Model}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Select_Make</startElementReference>
    <variables>
        <name>vaMake</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vaModel</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
